<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">  
	<parameter name="testparameters" value="testparameters"></parameter>
	
	<test name="testngtest" enabled="true" >
		<classes>
			<class name="com.iebm.ssm.test.TestNGDemo" ></class>
		</classes>
	</test>

  <!--系统登录-->
    <test name="datadriverlogin" enabled="false" >
        <classes>
            <class name="com.iebm.ssm.testScripts.DataDriverLoginTest"></class>
        </classes>
    </test>

    <!--病例查询-->
    <test name="CaseQuery" enabled="false">
        <classes>
            <class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="guestLogin"/>
                </methods>
            </class>
            <class name="com.iebm.ssm.testScripts.CaseQueryTest"></class>
        </classes>
    </test>

    <!--疑点查询-->
    <test name="QueryDoubtfulTest" enabled="false">
        <classes>
            <!--<class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="guestLogin"/>
                </methods>
            </class>-->
            <class name="com.iebm.ssm.testScripts.DataDriverLoginTest">
                <methods>
                    <include name="guestLogin"></include>
                </methods>
            </class>
            <class name="com.iebm.ssm.testScripts.QueryDoubtfulTest"></class>
        </classes>
    </test>

    <!--用户管理-->
    <test name="UserConfigTest" enabled="false">
        <classes>
            <class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="admintLogin"/>
                </methods>
            </class>
            <class name="com.iebm.ssm.testScripts.UserConfigTest"></class>
        </classes>
    </test>
    <!--规则列表-->
    <test name="RuleListTest" enabled="false">
        <classes>
            <class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="guestLogin"/>
                </methods>
            </class>
            <class name="com.iebm.ssm.testScripts.RuleListTest"></class>
        </classes>
    </test>
    
    <!--疑点审核 流程-->
    <test name="ConclusionAuditTest" enabled="false">
        <classes>
            <class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="guestLogin"/>
                </methods>
            </class>
            <!--疑点审核 医院违规病例反馈-->
<!--             <class name="com.iebm.ssm.testScripts.HospitalFeedBackTest"></class> -->
<!--             疑点审核 人工初审 -->
             <class name="com.iebm.ssm.testScripts.ReviewFirstTest"></class>
<!--             疑点审核 医院疑似违规病例反馈 -->
<!--             <class name="com.iebm.ssm.testScripts.HospitalDoubtFeedBackTest"></class> -->
<!--             疑点审核 人工复审 -->
<!--             <class name="com.iebm.ssm.testScripts.ReviewSencondTest"></class> -->
<!--             疑点审核 专家审核 -->
<!--             <class name="com.iebm.ssm.testScripts.ExpertReviewTest"></class> -->
<!--             疑点审核 稽查科调查 -->
<!--             <class name="com.iebm.ssm.testScripts.BusinessAuditTest"></class> -->
<!--             疑点审核 疑点结论 -->
<!--             <class name="com.iebm.ssm.testScripts.ConclusionAuditTest"></class> -->
        </classes>
    </test>

  	<test name="接口测试框架" enabled="false">
		<classes>
			<class name="com.iebm.api.test.ApiTest" ></class>
		</classes>
	</test>
  
</suite> <!-- Suite -->
