<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestDependency">

    <!--系统登录-->
    <test name="datadriverlogin" enabled="false" >

        <classes>
            <class name="com.iebm.ssm.testScripts.DataDriverLoginTest"></class>
        </classes>

    </test>

    <!--病例查询-->
    <test name="CaseQuery" enabled="false">
        <classes>
            <class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="guestLogin"/>
                </methods>
            </class>
            <class name="com.iebm.ssm.testScripts.CaseQueryTest"></class>

        </classes>

    </test>



    <!--疑点查询-->
    <test name="IllegalTest" enabled="false">
        <classes>
            <class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="guestLogin"/>
                </methods>
            </class>
            <class name="com.iebm.ssm.testScripts.IllegalPageTest"></class>
        </classes>
    </test>

    <!--用户管理-->
    <test name="UserConfigTest" enabled="false">
        <classes>
            <class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="admintLogin"/>
                </methods>
            </class>
            <class name="com.iebm.ssm.testScripts.UserConfigTest"></class>
        </classes>
    </test>

    <!--规则列表-->
    <test name="RuleListTest" enabled="false">
        <classes>
            <class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="guestLogin"/>
                </methods>
            </class>
            <class name="com.iebm.ssm.testScripts.RuleListTest"></class>
        </classes>
    </test>

    <!--疑点审核 医院违规病例反馈-->
    <test name="RuleListTest" enabled="true">
        <classes>
            <class name="com.iebm.ssm.testScripts.LoginTest">
                <methods>
                    <include name="guestLogin"/>
                </methods>
            </class>
            <class name="com.iebm.ssm.testScripts.HospitalFeedBackTest"></class>
        </classes>
    </test>


</suite>